<!--<form class="form-horizontal">
    <div class="form-group">
        <label for="newReply.PostContent" class="control-label col-md-2">Your Message</label>
        <div class="col-md-10">
            <textarea type="text" rows="4" id="newReply.PostContent" class="form-control"
                      ng-model="newReply.PostContent"></textarea>
        </div>
    </div>
    <div class="col-md-offset-2 col-md-10"><button class="btn btn-primary btn-sm" ng-click="replyPost(newReply)">Submit</button></div>
</form>-->
