
@*@{
    ViewBag.Title = "Assign Role";
}

<h2>AssignRole</h2>

<div class="form-group">
    @Html.Label("Select Role", new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.DropDownList("Name")
    </div>
</div>*@

